body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffeecc; 
}
/*nav-area*/
nav, .nav-links{
    display: flex;
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
#header {
    background-color: #f8dcb0; 
    text-align: center;
    color: white; 
}
#logo {
    font-family: cursive;
    font-size: 2em;
    font-weight: bold;
    color: #cc6600;
    text-decoration: none;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 15px;
}
nav a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: bold;
    font-size: 1.1em;
}
/*home-area*/
.home-img{
    width: 100%;
    height: 100vh;
}
.home-container{
    text-align: center;
    color: #333;
    font-size: 2rem;
}
.center{
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
}
/*menu area*/
#menu {
    text-align: center;
    cursor: default;
}
.category {
    display: inline-block;
    margin: 10px;
    position: relative;
}
.category-img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    cursor: default;
}
.menu {
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.menu-item {
    text-align: left;
    margin-bottom: 10px;
}
.menu-item h3 {
    color: #cc6600; 
    margin-bottom: 5px;
}
.menu-item p {
    color: #666;
    margin-bottom: 5px;
}
.price {
    color: #cc6600; 
    font-weight: bold;
}
/*about us-area*/
#about-us {
    background-image: url(./images/background.jpeg);
    background-size: cover;
    padding: 20px;
}
.about-us-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.about-us-content h2 {
    color: #cc6600; 
}
.about-us-content h3 {
    color: #cc6600; 
}
.about-us-content p {
    color: grey;
    line-height: 1.6;
    margin-bottom: 20px;
}
.btn{
    background: rgb(53, 53, 53) ;
    border: rgb(0, 0, 0) 0.1rem solid;
    border-radius: 2rem;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: center;   
}
/*contact-area*/
#contact {
    text-align: center;
    padding: 20px;
    background-color: #ffd900a6;
}
#google-map {
    margin-top: 20px;
    margin-bottom: 20px;
}
#social-icons {
    margin-top: 20px;
}
#social-icons a {
    margin-right: 10px;
}
#social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.questions-link {
    margin-top: 20px;
    font-size: 16px;
}
.questions-link a {
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}
/*footer-area*/
footer {
    background-color: #f8dcb0;
    text-align: center;
    padding: 10px;
    bottom: 0;
}
